<h1> О проекте </h1>
<p> Проект Test-Guru представляет собой веб-ресурс, который дает возможность создавать тесты, а так же проходить их.<br>
    Создан в рамках курса "Ruby on Rails" онлайн-школы <a href="https://thinknetica.com/">Thinknetica</a> </p>
