<h1> Об авторе </h1>
<p> Проект создан студентом онлайн-школы <a href="https://thinknetica.com/">Thinknetica</a> Лосицкой Анастасией (<a href="https://github.com/anastasiialosytska">GitHub: anastasiialosytska</a>) </p>
