<li>
  <%= answer.body %><br>
  <%= link_to admin_answer_path(answer) do %> 
    <i class="bi bi-eye"></i>
  <% end %>|
  <%= link_to edit_admin_answer_path(answer) do %>
    <i class="bi bi-pencil"></i>
  <% end %>|
  <%= link_to admin_answer_path(answer), method: :delete, data: { confirm: t('.confirm') } do %>
    <i class="bi bi-trash"></i>
  <% end %>
</li>
