<h2>Tests</h2>

<table>
  <tr>
    <td>Title</td>
    <td>Level</td>
    <td>Quantity of questions</td>
    <td>Actions</td>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= button_to 'Start', start_test_path(test) %></td>
    </tr>
  <% end %>
</table>
